<h1>CS103a App</h1>
<p class="text-danger">Welcome to the App</p>

<a href="/refactor"> 
    Refactor Code
</a>
<br>
<a href="/interview">
    Practice for your interview
</a>
<br>
<a href="/toPython">
    Convert your code (in whatever language) to Python!
</a>