<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../public/stylesheets/refactor.css">
</head>
<body>

<h1>Refactor Your Code</h1>
<div>
    <form action = '/refactor/gpt', method="POST"> 
        <input type="text" autocomplete="off" name="prompt" id="prompt">
        <input type="submit" value="submit" id="press">
    </form>
    <p id="res"></p>
</div>
</body>
</html>
<script>
    const field = document.getElementById("prompt").value;
    const res = document.getElementById("res")
    const press = document.getElementById("press")

    const submit = async(event) => {
        event.preventDefault();
        const response = await fetch("/refactor/gpt", {method:"POST", body:JSON.stringify({ 
            prompt: `Refactor the following code if it needs refactoring: ${field}.`}),
        });
        foo = await response.text();
        console.log(foo)
        if (response === 200) {
            
        }
    }

    press.addEventListener("click", submit);

</script>