<!DOCTYPE html>
<html> 
    <div class="person">
        <img src="../assets/alex.jpg" alt="Alex Danilkovas" height="200" width="200">
        <h2>Alex Danilkovas</h2>
        <p>I am a sophomore majoring in Computer Science and Business. I am a dualcitizen of both Belarus
            and the US, spending most of my life growing up in Massachussetts. For this project I implemented 
            the refactoring portion of this site.
    </div>
    <div class="person">
        <img src="../assets/nathan.jpg" alt="Nathan Subrahmanian" height="200" width="200">
        <h2>Nathan Subrahmanian</h2>
        <p>I am also a sophomore majoring in Computer Science and Business. I have lived in Maryland, New Hampshire,
            and Illinois. I enjoy playing soccer, music, and hanging out with my friends! 
            I implemented the code conversion to Python for this project.
    </div>
    <div class="person">
        <img src="" alt="Marsyl Viernes" height="200" width="200">
        <h2>Marsyl Vineres</h2>
        <p>I am a sophomore majoring in CS and minoring in Architectural Studies. I was born and raised in Hawaii, but
            am now based in Massachussetts. For this project I implemented the "Error Helper" portion of this site and contributed
            to some front end.
    </div>
</html>